<div class="container">
  <h1>ここはチーム一覧の予定</h1>
  <% @teams.each do |team| %>
    <% if team.team_img.attached? %>
     <div><%= image_tag team.team_img, size:"100x100" %></div>
    <% else %>
     <div><%= image_tag "samurai_imag.png", size:"100x100"%></div>
    <%end%>
    <%= team.team_name%>
  <%end%>
  検索機能
<%= link_to "チーム作成",new_team_path %>
</div>

