<header>
    <h1>
      <a href="/">野球やろうぜ！</a>
    </h1> 
    <nav class="nav_ber">
      <ul>
        <li><a href="/orders">オーダー</a></li>
        <li><a href="/teams">チーム</a></li> 
      </ul>  
    </nav>
<header>

